@import url(./fonts.css);
@import url(./variables.css);

:root {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

body {
  background-image: url(../images/pattern-circles-grey.png);
}

::-webkit-scrollbar {
  background-color: var(--surface-0);
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: var(--primary);
  background: linear-gradient(
    180deg,
    var(--primary) -50%,
    var(--secondary) 125%
  );
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 36px 8px 36px 8px;
  background-color: var(--surface-1);
  z-index: 10;
}

.nav-logo {
  position: absolute;
  left: 24px;
  height: 108px;
  cursor: pointer;
}

.nav-logo * {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.nav-logo-circle {
  width: 108px;
  height: 108px;
  background-color: var(--primary);
  mask: url(../svg/logo-circle.svg) no-repeat center;
  scale: 0.875;
  z-index: 0;
  transition: rotate 0.6s ease-in-out;
}

.nav-logo-text {
  width: 108px;
  height: 108px;
  background-color: var(--on-surface-1);
  mask: url(../svg/logo-text.svg) no-repeat center;
  z-index: 1;
}

.nav-logo:hover .nav-logo-circle-wrap {
  filter: drop-shadow(0px 0px 6px var(--primary));
}

.nav-logo:hover .nav-logo-text-wrap {
  filter: drop-shadow(0px 0px 6px var(--on-surface-1));
}

.nav-logo:active .nav-logo-circle {
  background-color: var(--on-surface-1);
}

.nav-logo:active .nav-logo-circle-wrap {
  filter: drop-shadow(0px 0px 6px var(--on-surface-1));
}

.nav-logo:active .nav-logo-text {
  background-color: var(--primary);
}

.nav-logo:active .nav-logo-text-wrap {
  filter: drop-shadow(0px 0px 6px var(--primary));
}

.nav-buttons-container {
  width: 13%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 52%;
}

.nav-button {
  font-family: "rodinDB";
  color: var(--on-surface-0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-button-text-zonai {
  font-family: "zonai";
  color: var(--primary);
  font-size: 42px;
  position: absolute;
  transform: translateY(2px);
  transition: all 0.2s ease-in-out;
}

.nav-button-text-english {
  position: relative;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.nav-button:hover .nav-button-text-zonai {
  filter: drop-shadow(0px 0px 12px var(--primary));
}
.nav-button:hover .nav-button-text-english {
  filter: drop-shadow(0px 0px 12px var(--on-surface-0));
}

.nav-button:active .nav-button-text-zonai {
  color: var(--on-surface-0);
  filter: drop-shadow(0px 0px 12px var(--on-surface-0));
  transition-duration: 0.1s;
}
.nav-button:active .nav-button-text-english {
  color: var(--primary);
  filter: drop-shadow(0px 0px 12px var(--primary));
}

header {
  background-color: #2b3c3a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 64px;
  gap: 96px;
}

.header-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 393px;
  filter: drop-shadow(0px 0px 128px rgb(73, 213, 156));
  margin: 16px;
}

.play-now-button {
  font-family: "rodinB";
  font-size: 40px;
  color: var(--on-surface-2);
  padding: 0px 24px 0px 24px;
  border-radius: 60px;
  outline: solid 6px var(--on-surface-2);
  outline-offset: -6px;
  transition: all 0.2s ease-in-out;
}

.play-now-button:hover {
  color: var(--on-surface-2);
  background-color: var(--on-surface-1);
  outline-color: var(--on-surface-1);
  filter: drop-shadow(0px 0px 16px rgba(250, 247, 220, 0.75));
}

.play-now-button:active {
  color: var(--on-surface-0);
  background-color: var(--on-surface-2);
  outline-color: var(--on-surface-2);
  filter: drop-shadow(0px 0px 16px rgba(203, 182, 135, 1));
  transition-duration: 0.1s;
}

.header-link {
  height: 572px;
  filter: drop-shadow(0px 4px 12px #000000);
}

.features-exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-exploration > h1 {
  color: var(--on-surface-0);
  font-family: "rodinB";
  font-size: 72px;
  margin-top: 64px;
  text-align: center;
}

h2 {
  color: var(--on-surface-0);
  font-family: "rodinDB";
  font-size: 48px;
  text-align: center;
}

.features-exploration-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 28px;
  position: relative;
}

.list-wrap {
  position: relative;
  display: flex;
  margin-right: 48px;
  justify-content: center;
  align-items: center;
}

.features-exploration-list {
  height: 453.06px;
  width: 13.05px;
}

.diamonds {
  background-color: var(--on-surface-2);
  mask: url(../svg/diamond.svg) no-repeat center;
  width: 60px;
  height: 60px;
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
}

.diamond-active {
  transition: all 0.3s ease-in-out;
  background-color: var(--on-surface-1);
  transform: scale(1.2);
}

.diamond-wrap-active {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 12px var(--on-surface-1));
}

.diamonds-wrap {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.diamond-1-wrap {
  top: -65px;
}

.diamond-2-wrap {
  top: 50%;
  transform: translateY(-50%);
}

.diamond-3-wrap {
  bottom: -65px;
}

.features-exploration-images-n-texts-wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  padding-left: 16px;
}

.features-exploration-images-n-texts {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  gap: 16px;
}

.features-exploration-image-wrap {
  position: relative;
  display: flex;
}

.features-exploration-image {
  height: 237px;
}

.arrow {
  background-color: var(--on-surface-2);
  mask: url(../svg/arrow.svg) no-repeat center;
  width: 120px;
  height: 36px;
  transition: all 0.3s;
}

.arrow-wrap {
  position: absolute;
  top: -13px;
  left: 50.25%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.features-exploration-text {
  font-family: "rodinDB";
  font-size: 36px;
  transition: all 0.2s ease-in-out;
  transform-origin: left center;
}

.arrow-wrap-active {
  top: -4px;
  filter: drop-shadow(0 0 12px var(--on-surface-1));
}
.arrow-active {
  width: 96px;
  height: 28px;
  background-color: var(--on-surface-1);
}

.features-exploration-text-active {
  transform: scale(1.2);
}

.abilities-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 16px;
  padding-top: 192px;
}

.abilities-wheel-wrap {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.abilities-wheel {
  background-color: red;
  height: 490px;
  width: 490px;
}

.abilities-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abilities-text-h3 {
  font-size: 40px;
  font-family: "rodinB";
  color: white;
}

.abilities-text-p {
  font-size: 32px;
  font-family: "rodinM";
}

.story-decoration {
  background-image: url(../svg/runes-bottom-ivory.svg);
  height: 46px;
  width: 100%;
  padding-bottom: 48px;
}

.story-decoration-top {
  margin-top: 128px;
}

.story-decoration-bottom {
  transform: scaleY(-1);
}

.story {
  background-color: var(--on-surface-1);
  padding: 104px 48px 104px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 640px;
  position: relative;
}

.story p,
.story h1 {
  color: var(--secondary);
  font-family: "rodinB";
}
.story p {
  font-size: 32px;
}

.story-title {
  position: relative;
}

.story h1 {
  position: relative;
  font-size: 72px;
}

.story-title svg {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  overflow: visible;
}

.story-title svg > polygon {
  transform-origin: right right;
  fill: #cbb58700;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: .2s;
}

svg.in-view > polygon {
  fill: var(--on-surface-2);
}

.story-title svg polygon#triangle3 {
  transform: translate(-25%, -25%);
}

.story-title svg polygon#triangle2 {
  transform: translateY(25%);
}

.story-title svg polygon#triangle1 {
  transform: translate(25%, -25%);
}

svg.in-view polygon#triangle3 {
  transform: translate(0%, 0%);
}

svg.in-view > polygon#triangle2 {
  transform: translateY(0%);
}

svg.in-view > polygon#triangle1 {
  transform: translate(0%, 0%);
}

.story-image-n-text {
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 64px;
}

.story p span.blue {
  color: #0f68b8;
}

.story p span.red {
  color: #700b0b;
}

.story img {
  height: 360px;
  border-radius: 32px;
}

p {
  color: var(--on-surface-0);
  font-family: "rodinDB";
  font-size: 24px;
}

a {
  text-decoration: none;
}

img {
  height: 100px;
}

footer {
  margin: 160px 0px 160px 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  height: 250px;
}

.footer-central-part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 22px;
}

.line {
  border-left: 3px solid rgb(255, 255, 255);
  height: 56px;
  margin-left: -3px;
  top: 0;
}

.footer-central-part a {
  font-family: "rodinB";
  font-size: 32px;
  color: #ffffff;
  text-decoration: underline transparent;
  transition: all 0.2s ease-in-out;
}

.footer-central-part a:hover {
  text-decoration: underline;
}

.footer-central-part a:active {
  color: #9a9a9a;
}

.play-now-button-footer {
  position: relative;
}

@media screen and (max-width: 1260px) {
  .header-link {
    height: 472px;
  }
}
@media screen and (max-width: 1150px) {
  .header-link {
    height: 372px;
  }
  .header-logo {
    height: 272px;
  }
  .header-play-now-button {
    font-size: 35px;
  }
  header {
    gap: 64px;
  }
}

@media screen and (max-width: 1000px) {
  .header-link {
    height: 372px;
  }
  header {
    gap: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .header-link {
    display: none;
  }
  header {
    gap: 0px;
  }
}
